{% extends 'base.html' %}
<head>
    <title>{% block title %}About Me{% endblock %}</title>
    <style>

        {% block style %}

        {% endblock %}

    </style>
</head>
<body>

{% block content %}

    <div class="hobbies">
        <div><p class="hobby-title">Passions and Hobbies</p></div>
        <div><p class="hobby-description">My greatest passion is to create something useful and share it with others
        so that they can use and experience it. Seeing other people make use of something you create is like satisfying
        the needs or wants of that person, whether it is for entertainment or some kind of productive tool. Apart from
        programming, I enjoy playing chess puzzles, drawing, and reading. Chess puzzles help develop numerous
        skills such as critical thinking, problem-solving, pattern recognition, visualization and memory which are just a few
        to name. These skills will prove helpful throughout my coding career. Art was one of my three main subject
        choices in high-school, so I believe in my artistic decision-making when designing front-end systems. </p></div>
    </div>
    <div class="hobbies">
        <div><p class="hobby-title">Education and Experience</p></div>
        <div><p class="hobby-description">I matriculated at Hyde Park High-school in 2019 with the following subjects: Maths literacy,
            Engineering and graphics design, Art, Geography, English and Afrikaans. In 2020, I took a gap year and the following
            year I decided to register for a degree in information science. At this point in my life I realized I wanted to work
            with computers, so I applied for informatics at UNISA and I got rejected because I lacked pure Maths in High-school. In
            2022, I registered with Umalasi to write pure Maths exams at the end of the year. Having obtained pure Mathematics, I
            registered with UNISA and achieved one of my goals of pursuing a STEM field degree. At the end of 2022, I got a job
            as a retail sales assistant at Quiksilver where I worked for one year. My reason for leaving Quiksilver was to focus on my
            studies at university full time.
        </p></div>
    </div>
    <div class="hobbies">
        <div><p class="hobby-title">Skills and Traits</p></div>
        <div><p class="hobby-description">Throughout my academic and professional journey, I've acquired a diverse set
            of skills. Through studies, I've gained proficiency in programming languages like Python, C++, HTML,
            CSS, and various libraries. This exposure deepened my understanding of fundamental computer literacy as well as
            practical application in daily tasks. In my role as a retail sales assistant, I've learnt strong communication
            skills and a keen ability to empathize with customers' needs. Resolving issues efficiently and ensuring customer
            satisfaction were mandatory skills to learn as sales assistant. Among my personal traits, dedication and willingness
            to learn are values that I am proud of that come intrinsically to me.
        </p></div>
    </div>

{% endblock %}

</body>
